/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* цвет фона #FFFF */
/* вторичный цвет фона #F5F4FA */
html {
      box-sizing: border-box;
}

*,
*::before,
*::after {
      box-sizing: inherit;
}

:root {
      --hero-background-color: rgba(47, 48, 58, 0.4);
      --primary-text-color: #212121;
      --background-footer-color: #2F303A;
      --background-color-section: #010203;
      --title-text-color: #757575;
      --accent-color: #2196F3;
      --primary-white-color: #FFFF;
      --secondary-background-color: #F5F4FA;
      --border-color-white: #EEEEEE;
      --border-clients-color: #AFB1B8;
      --icon-color2: #AFB1B8;
      --card-set-gap: -20px;
      --icon-color1: rgba(175, 177, 184, 1);
      --adress-icon: #757575;
      --product-action-color: rgba(33, 150, 243, 0.9);
      --product-text-action: rgba(255, 255, 255, 1);
      --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      --transition-duration250: 250ms;
      --background-color-aside: rgba(47, 48, 58, 0.8);
      --shadow-portfolio-products: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
            0px 4px 4px 0px rgba(0, 0, 0, 0.06),
            0px 1px 1px 0px rgba(0, 0, 0, 0.12);
      --shadow-btn-portfolio: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
      --backdrop-color: rgba(0, 0, 0, 0.5);

}

.body {
      font-family: Roboto;
      font-size: 20px;
      background-color: var(--primary-white-color);
      color: var(--primary-text-color);



}

a {
      text-decoration: none;
}

ul {
      list-style: none;
      padding: 0;
      margin: 0;
      c
}

img {
      display: block;
      max-width: 100%;
}

.visually-hidden {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px);
      /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0 !important;
      border: 0 !important;
      height: 1px !important;
      width: 1px !important;
      overflow: hidden;
}


/* =======CONTAINER====== */

.container {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;

}

/* =======Header====== */
.header {
      padding-top: 32px;
      padding-bottom: 0;
      border-bottom: 1px solid var(--secondary-background-color);
}

.heder {
      display: flex;
      align-items: center;
      justify-content: space-between;

}

.header .container {
      display: flex;
      align-items: center;
      width: 1200px;
      margin: 0 auto;






}

.header .address {
      margin-left: auto;
      margin-right: 30px;

}

.nav {
      display: flex;
      align-items: center;
}

.site-nav {
      display: flex;
      align-items: center;
}

.header .logo {
      margin-right: 94px;
}

.site-list-item:not(:last-child) {
      margin-right: 50px;
}

.section-aside-list:not(:last-child) {
      margin-right: 30px;
}

.section-aside-list::before {
      content: "";
      display: block;
      height: 120px;
      width: 270px;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #F5F4FA;
      ;
      background-position: center;

}

.icon-antenna::before {
      background-image: url(../image/aside/antenna1.svg);
      background-size: 70px;

}

.icon-clock::before {
      background-image: url(../image/aside/clock1.svg);
      background-size: 70px;
}

.icon-diagram::before {
      background-image: url(../image/aside/diagram1.svg);
      background-size: 70px;

}

.icon-astronaut::before {
      background-image: url(../image/aside/astronaut1.svg);
      background-size: 70px;

}

.section-aside .section-aside-list {

      width: 270px;
      flex-wrap: wrap;


}

.adress-icon {
      fill: var(--adress-icon);
      margin-right: 10px;
}

.address-tel:hover .adress-icon,
.address-tel:focus .adress-icon,
.address-mail:hover .adress-icon,
.address-mail:focus .adress-icon {
      fill: var(--accent-color);
}

/* ================= logo =============================*/
.logo {
      color: var(--primary-text-color);
      font-family: Raleway;

      font-size: 26px;
      font-weight: 700;
      font-style: normal;
      line-height: .838;
      letter-spacing: 0.03em;
      padding-bottom: 32px;


}

.logo-accent {
      color: var(--accent-color);
}

.address-mail,
.address-tel {
      display: inline-block;
      padding-bottom: 32px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;


      color: var(--adress-icon);
}

.site-nav-link {
      display: inline-block;
      padding-bottom: 32px;
      margin: 0;
      color: var(--primary-text-color);
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      line-height: .875;
      letter-spacing: 0.02em;

}


.address-mail+.address-tel {
      margin-left: 30px;
}


.site-nav-link:focus,
.site-nav-link:hover,
.address-mail:focus,
.address-mail:hover,
.address-tel:focus,
.address-tel:hover {
      color: var(--accent-color);
      transition: color var(--transition-duration250) var(--timing-function);
}

.site-nav .site-nav-link.current {
      position: relative;
      color: var(--accent-color);

}

.site-nav-link.current::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      margin: 0;
      left: 0;
      bottom: 0;
      border-radius: 2px;


      background-color: var(--accent-color);


}

.list {
      margin: 0px;
      padding: 0px;
      list-style: none;
}



/* Section */
/* ===================== Hero ===================== */

.hero {
      padding-top: 200px;
      padding-bottom: 200px;
      max-width: 1600px;
      min-height: 600px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      background-color: #000000;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../image/hero-img/header-img.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
}

.section-title-hero {
      font-size: 44px;
      font-weight: 900;


      font-style: normal;
      text-transform: uppercase;
      text-align: center;
      line-height: 60px;
      letter-spacing: 0.06em;

      margin-top: 0px;
      margin-bottom: 30px;

      color: var(--secondary-background-color);


}



/* ==========Title============ */
.section-title {
      font-size: 36px;
      font-weight: 700;
      font-style: normal;
      color: var(--primary-text-color);
      text-align: center;
      line-height: .857;
      margin-top: 0px;
      margin-bottom: 50px;

}

/* =========CONTAINER================ */




/* ================ Section-Aside =============== */
.section-aside-subtitle {
      padding-top: 30px;
      font-size: 14px;
      font-weight: 700;
      font-style: normal;
      color: var(--primary-text-color);
      line-height: .875;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: 10px;
}

.section-aside-subtitle-text {
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      color: var(--title-text-color);
      line-height: 24px;
      margin-top: 0px;
}

.container-aside {
      margin-left: auto;
      margin-right: auto;

}

.section-aside {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;


}

.aside-img-thumb {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
}

.aside-img-text-thumb {
      position: absolute;
      width: 100%;
      height: 70px;
      padding-top: 27px;
      bottom: 0;
      left: 0;
      background-color: var(--background-color-aside);

      cursor: pointer;




}

.aside-img-text {
      margin: 0;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-white-color);

}


.section-aside .section-aside-list {
      display: flex;
      flex: wrap;
      width: 270px;


}

.section-aside-list:not(:last-child) {
      margin-right: 30px;
}

.examples {
      display: flex;

}

.examples-work {
      display: flex;
      margin-top: 0px;
      margin-bottom: 0px;

      margin-left: auto;
      margin-right: auto;

}

.examples-work:not(:last-child) {
      margin-right: 30px;

}

/* ================ Section Comand============ */

.section-portfolio,
.section {
      padding-top: 94px;
      padding-bottom: 94px;
      margin-bottom: 0px;
      margin-top: 0px;
}

.section.command {
      padding-top: 94px;
      padding-bottom: 94px;
      background-color: var(--secondary-background-color);

}


.command-title {
      display: flex;
      margin-top: 0px;
      margin-bottom: 0px;
}

.command-title-list {
      background-color: var(--primary-white-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
}

.command-title-list:not(:last-child) {
      margin-right: 30px;
}

.section-command-worker {
      padding-top: 30px;
      margin-bottom: 0;
}

.section-command-specialty {
      margin-top: 10px;
      margin-bottom: 0px;
}

.section-command-worker {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      color: var(--primary-text-color);
      line-height: .842;
      margin-top: 0px;
      margin-bottom: 10px;
      text-align: center;
}

.section-command-specialty {
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      color: var(--title-text-color);
      line-height: .842;
      margin-top: 0px;
      margin-bottom: 16px;
      text-align: center;

}

.command-list-link {
      display: flex;
      /* margin: 0px; */
      padding-top: 0px;
      padding-bottom: 30px;
      padding-left: 32px;
      padding-right: 32px;
      justify-content: center;
      align-items: center;
}

.comands-link-item {
      width: 44px;
      height: 44px;
      display: flex;
      border-radius: 50%;
      border: 1px solid #ffff;
      justify-content: center;
      align-items: center;
}

.items-link:not(:last-child) {
      margin-right: 10px;
}

.comands-link-item:focus,
.comands-link-item:hover {
      background-color: var(--accent-color);
      transition: background-color var(--timing-function) var(--transition-duration250);

}

.comands-link-item:focus .command-social-icon,
.comands-link-item:hover .command-social-icon {
      fill: var(--primary-white-color);
      transition: fill var(--timing-function) var(--transition-duration250);
}

.command-social-icon {
      fill: var(--border-clients-color);
}


/* =============== Section Receprion ================== */
.section.receprion {
      width: 1170px;
      padding-top: 0px;
      padding-bottom: 94px;
      margin: 0 auto;

}

/* ====================== Botton ================ */

.button-nav {
      display: flex;
      justify-content: center;



}

.btn-title {}

.btn-title {
      margin-right: -8px;

}

.container.btn-title:last-child {
      margin-right: 0;
}

.btn-primary {

      color: var(--secondary-background-color);
      background-color: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      font-style: normal;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.06em;
      line-height: 1.875;

      display: inline-block;
      height: 50px;
      padding: 10px 32px;
      border-radius: 4px;
      border: inherit;





}

.button-porfolio {
      color: var(--primary-text-color);
      display: inline-block;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      line-height: 1.6;
      border: inherit;
      border-radius: 4px;
      padding: 6px 22px;
      margin: 8px;

      border: 1px solid transparent;
      cursor: pointer;



}

.container-porfolio-btn {
      margin-left: -8px;
      margin-right: -8px;
      margin-top: 0px;
      margin-bottom: 34px;
}

.button-porfolio:hover,
.button-porfolio:focus {
      background-color: var(--accent-color);
      color: var(--secondary-background-color);
      box-shadow: var(--shadow-btn-portfolio);
      transition: background-color var(--transition-duration250) var(--timing-function),
            color var(--transition-duration250) var(--timing-function),
            box-shadow var(--transition-duration250) var(--timing-function);


}

/* ==================Clients============== */
.clients-list {
      display: flex;
      margin: 0;



}

.clients-item {
      display: flex;
      width: 170px;
      height: 90px;

      /* box-sizing: border-box; */
}

.clients-item:not(:last-child) {
      margin-right: 30px;
}

.clients-link {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid;
      border-radius: 4px;
      border-color: var(--border-clients-color);

}

.clients-icon {

      fill: var(--icon-color1);


}

.clients-link:focus,
.clients-link:hover,
.clients-link:focus .clients-icon,
.clients-link:hover .clients-icon {
      fill: var(--accent-color);
      border-color: var(--accent-color);
      transition: fill var(--timing-function) var(--transition-duration250),
            border-color var(--timing-function) var(--transition-duration250);
}

.container.footer .logo {
      color: var(--primary-white-color);

}

/* =================== Footer =================== */
.section.footer {
      padding-top: 0;
}

.container.footer {
      display: flex;
}

.container-footer-info {
      display: block;
      margin-top: 60px;
      margin-right: 70px;

}

.footer {
      background-color: var(--background-footer-color);
}

.addres-geo {
      color: var(--primary-white-color);
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em
}

.footer.addres {
      padding-top: 20px;
      padding-bottom: 9px;
}

.address-mail.footer,
.address-tel.footer {
      display: inline;

      margin-left: 0px;
      color: rgba(255, 255, 255, 0.6);

}

.address-tel.footer {
      display: flex;
      padding-top: 9px;
}

.footer .section-aside-subtitle {
      color: var(--primary-white-color);
}

.footer.section-aside-subtitle {
      padding-top: 0;
}

.container-footer-social {
      margin-top: 72px;
}

.footer-social-link {
      display: flex;
}

.social-link {
      width: 44px;
      height: 44px;
      display: flex;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      justify-content: center;
      align-items: center;
}

.social-link:focus,
.social-link:hover {
      background-color: var(--accent-color);
      transition: background-color var(--transition-duration250) var(--timing-function);
}

.social-link-title {
      margin: 0;
      padding-top: 20px;
}

.social-link-title:not(:last-child) {
      margin-right: 10px;
}

.social-icon {
      fill: var(--primary-white-color);

}

.container-footer-form {
      margin-top: 72px;
      margin-left: 94px;



}

.subscription-title {
      margin-top: 0;
      margin-bottom: 20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      color: #FFFFFF;
}

.form-email {
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background-color: transparent;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 16px;


      font-size: 16px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.6);
}

.form-email::placeholder {
      font-size: 16px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.6);
}

.btn-subscription-link {
      display: inline-flex;
      align-content: center;

      width: 200px;
      height: 50px;
      margin-left: 20px;


      background: var(--accent-color);

      border-radius: 4px;
      border: inherit;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
      color: var(--primary-white-color);
      justify-content: center;
      align-items: center;


}

.subscription-icon {
      fill: var(--primary-white-color);
      margin-left: 10px;


}

.form-email::placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03em;
}


/* ================= PORTFOLIO ========== */
/* ==================== MAIN-NAV=============== */


/* ====================Portfolio============= */


.portfolio-heading {
      color: var(--primary-text-color);
      font-size: 18px;
      font-weight: 700;
      font-style: normal;
      line-height: 36px;
      letter-spacing: 0.06em;
      margin-top: 0;
      margin-bottom: 4px;


}

.portfolio-text {
      color: var(--title-text-color);
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      line-height: .5;
      letter-spacing: 0.03em;

}

.proect-items {
      display: flex;
      flex-wrap: wrap;
      margin-top: -30px;
      margin-left: -30px;
      margin-bottom: 0px;
      padding-top: 30px;


}

.proect-list {

      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc(100% / 3 - 30px);
      border: 1px solid var(--border-color-white)
}

.img-porfolio {
      margin-top: 0px;
      margin-bottom: 0px;

}


.card-content {
      padding: 20px 20px;


}



.porfolio-link:hover,
.porfolio-link:focus {
      display: block;
      box-shadow: var(--shadow-portfolio-products);
      transition: box-shadow var(--timing-function) var(--transition-duration250);

}

.portfolio-thumb {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
}

.product-actions {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      padding: 64px 24px;



      background-color: var(--product-action-color);
      color: var(--product-text-action);



      transform: translateY(100%);
      transition: transform var(--timing-function) var(--transition-duration250);


}

.porfolio-link:hover .product-actions,
.porfolio-link:focus .product-actions {
      transform: translateY(0);

}

.product-text {
      margin: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.03em;
}

/* ---------------------------- */



/* ===========MODAL=========== */
.backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: var(--backdrop-color);


      opacity: 1;
      transition: opacity var(--transition-duration250) var(--timing-function);
}

.backdrop.is-hidden {
      opacity: 0;
      pointer-events: none;
      transition: opacity var(--transition-duration250) var(--timing-function);
}

.modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      min-height: 300px;
      min-width: 300px;

      background-color: #fff;
      padding: 40px;
}

.form {
      display: flex;
      flex-direction: column;

}

.field-label {
      display: flex;
      
      

      margin-left: 0px;
      margin-right: auto;
      margin-bottom: 4px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: #757575;
      

}

.field-input {


      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding-left: 42px;
      box-sizing: border-box;
      font-size: 14px;

      width: 100%;
      height: 40px;

}



.form-field:not(:last-child) {
      margin-bottom: 10px;
}


.wrapper-form-filed {
      position: relative;
      display: block;
}

.btn-form-icon {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      display: block;
      

}

.field-input:focus+ .btn-form-icon {
      fill: var(--accent-color);
      transition: color var(--timing-function) var(--transition-duration250);
}

.modal-form-message {
      padding: 12px 16px;
      width: 100%;
      height: 120px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      font-size: 14px;
      resize: none;
      outline: none;
}

.modal-form-message::placeholder {
      color: rgba(117, 117, 117, 0.5);
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
}


.field-input:focus,
.modal-form-message:focus {
      outline: none;
      border: 1px solid var(--accent-color);
      transition: border var(--timing-function) var(--transition-duration250);
}
.field-label-policy {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      

      letter-spacing: 0.03em;

      color: #757575;
}

.field-label-policy::before {
      content: " ";
      display: inline-block;
      
      width: 16px;
      height: 15px;
      border: 1px solid #212121;
      border-radius: 2px;
      
      margin-right: 7px;

}
.form-field-policy {
      margin-top: 20px;
      margin-bottom: 30px;
}
.input-policy:checked+.field-label-policy::before {
      border: 1px solid var(--accent-color);
      background-color: var(--accent-color);
      background-repeat: no-repeat;
      background-image: url("../image/cheked-icon.svg");
      transition: var(--accent-color) var(--timing-function) var(--transition-duration250),
      background-image var(--timing-function) var(--transition-duration250);
}
.contract {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      

      letter-spacing: 0.03em;
      text-decoration: underline;
     

      color: #2196F3;
}

.btn-close {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: var(--primary-white-color);
      border: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      outline: none;



}

.btn-close-icon {
      fill: #000000;

}

.btn-close:hover .btn-close-icon,
.btn-close:focus .btn-close-icon {
      fill: var(--accent-color);
      transition: fill var(--timing-function) var(--transition-duration250);
}

.modal p {
      margin-top: 0;
      margin-bottom: 12px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.03em;

}

.form-field.box {
      margin-top: 20px;
      margin-bottom: 30px;
}

.field-label.policy {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;

}



.btn-submit {
      width: 200px;
      height: 50px;
      margin: 0;

      color: var(--primary-white-color);
      background: var(--accent-color);
      outline: none;

      border-radius: 4px;
      border: inherit;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;

      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      

}

.btn-submit:hover,
.btn-submit:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      transition: box-shadow var(--transition-duration250) var(--timing-function);
}

/* Устанавливает рамку */
border: 2px solid #2196F3;

/* Добавляет внутреннее поле */
padding: 15px;

/* Устанавливает внешние отступы */
margin: 20px;

/* ------------------ */